:root{
    --primary-color:#111;
}

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Georgia','serif';
}

a{
    font-weight:bold;
    text-decoration: none;
    color: var(--primary-color);
}

article{
    padding: 25px;
}

/*----------------------------------------------------------------HEADER----------------------------------------------------------------*/
header{
    text-align: center;
    font-family: 'Georgia','serif';
}

h1{
    font-size: 70px;
}

.Hamburger_Menu{
    display: none;
}

nav{
    width: 55%;
    margin: auto;
    transition: all 300ms ease;
    border-top: .5px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-links li {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 black;
}

.nav-links li:hover{
    color: white;
    cursor: pointer;
    transition: ease-in 0.3s;
    box-shadow: inset 300px 0 0 0 black;
}

.nav-link{
    padding: 9px;
    transition: ease-out 0.3s;
}

.nav-link:hover{
    color: white;
    cursor: pointer;
    transition: ease-in 0.3s;
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------MAIN-----------------------------------------------------------------*/

/*------------Theory_Blogs------------*/
.Theory_Blogs, .Creative_Blogs{
    width: 90%;
    margin: auto;
    text-align: center;
}

h2{
    font-size: 35px;
}

.Blog{
    margin: 50px;
    display: flex;
    border: .5px solid var(--primary-color);
    box-shadow: 10px 10px var(--accent-color,#f3e49e);
}

.Blog-image{
    min-width: 40%;
    max-height: 450px;
    min-height: 400px;
}

.Blog-title{
    font-size: 25px;
}

.Blog-preview{  
    padding: 20px;
    font-size: 20px;
    font-family:'Poppins',sans-serif;
}

.Blog-read_more{
    padding: 5px;
    font-size: 18px;
    transition: ease-out 0.3s;
    border: 1.5px solid var(--primary-color);
    box-shadow: 10px 10px var(--accent-color,#f3e49e);
}

.Blog-read_more:hover{
    cursor: pointer;
    transition: ease-in 0.3s;
    background-color: #f3e49e;
    box-shadow: 3px 3px var(--accent-color,#f3e49e);
}

.View_More_Blogs-link{
    padding: 5px;
    font-size: 30px;
    transition: ease-out 0.3s;
    border: 1.5px solid var(--primary-color);
    box-shadow: 10px 10px var(--accent-color,#f3e49e);
}

.Web-Decisions{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.Character_Development, .Web_Development{
    margin: 30px;
    padding: 30px;
    text-align: center;
    border: 1.5px solid var(--primary-color);
    box-shadow: 10px 10px var(--accent-color,#f3e49e);
}

.Character_Development-image, .Web_Development-image{
    padding: 10px;
    min-width: 40%;
    max-height: 450px;
    min-height: 400px;
}

.Character_Development-link, .Web_Development-link{
    padding: 5px;
    font-size: 20px;
    border: 1.5px solid var(--primary-color);
    box-shadow: 10px 10px var(--accent-color,#f3e49e);
}

.Character_Development-link:hover, .Web_Development-link:hover{
    cursor: pointer;
    transition: ease-in 0.3s;
    background-color: #f3e49e;
    box-shadow: 3px 3px var(--accent-color,#f3e49e);
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------FOOTER----------------------------------------------------------------*/
footer{
    margin-top: 15px;
    background-color: black;
 }
 
 .sitemap-links{
    width: 75%;
    margin: auto;
    display: flex;
    list-style: none;
    padding: 30px;
    justify-content: space-around;
 }

 .sitemap-links li {
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 white;
}

.sitemap-links li:hover{
    color: black;
    cursor: pointer;
    transition: ease-in 0.3s;
    box-shadow: inset 300px 0 0 0 white;
}
 
 .sitemap-link{
     color: white;
     transition: ease-out 0.3s;
 }

.sitemap-link:hover{
    cursor: pointer;
    color: black;
    transition: ease-in 0.3s;
}

 .social-media-icons{
    width: 20%;
    margin: auto;
    display: flex;
    list-style: none;
    background: white;
    justify-content: space-around;
 }
 
 .social-media-icon{
    padding: 10px;
 }
 
 .copyright{
    padding: 7px;
    color: white;
    text-align: center;
 }
/*--------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------Responsive Design----------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    h1{
        font-size: 50px;
    }

    .Mission_Statement{
        flex-direction: column-reverse;
    }

    .Mission_Statement-profile_picture{
        justify-content: center;
    }

    .Mission_Statement-profile_picture{
        min-width: 300px;
        max-height: 250px;
        min-height: 200px;
        margin: auto;
        box-shadow: 10px 10px var(--accent-color,#f3e49e);
    }

 }

 @media only screen and (max-width: 830px) {
    h1{
        font-size: 30px;
    }

    .Mission_Statement{
        width: 100%;
        font-size: 20px;
    }

    .Mission_Statement-title{
        font-size: 25px;
    }

    .Latest_Blogs{
        width: 100%;
    }

    h2{
        font-size: 30px;
    }

    .Blog{
        position: relative;
        overflow: hidden;
        color: white;
        font-size: 20px;
    }

    .Blog-title{
        font-size: 20px;
    }

    .Blog-text{
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;

        -webkit-background-composite: var(--primary-color);
    }

    .Blog-image{
        min-width: 100%;
        max-width: 750px;
        max-height: 450px;
        min-height: 300px;
    }

    .View_More_Blogs-link{
        padding: 5px;
        font-size: 20px;
    }

    .social-media-icons{
        width: 40%;
    }

    .social_media-icon{
        width: 10px;
        height: 10px;
    }

    .copyright{
        font-size: 15px;
    }
 }

@media only screen and (max-width: 530px) {

    body{
        overflow-x: hidden;
    }
    
    .burger-icon{
        display: inline-block;
        cursor: pointer;

    }

    nav{
        display: none;
    }

    h1{
        font-size: 20px;
    }

    .Mission_Statement{
        width: 100%;
        font-size: 20px;
    }

    .Mission_Statement-title{
        font-size: 25px;
    }

    .Latest_Blogs{
        width: 100%;
    }

    h2{
        font-size: 30px;
    }

    .Blog{
        position: relative;
        overflow: hidden;
        color: white;
        font-size: 20px;
    }

    .Blog-title{
        font-size: 20px;
    }

    .Blog-text{
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;

        -webkit-background-composite: var(--primary-color);
    }

    .Blog-image{
        min-width: 100%;
        max-width: 750px;
        max-height: 450px;
        min-height: 300px;
        color: var(--primary-color);
    }

    .View_More_Blogs-link{
        padding: 5px;
        font-size: 20px;
    }

    .social-media-icons{
        width: 40%;
    }

    .social_media-icon{
        width: 10px;
        height: 10px;
    }

    .copyright{
        font-size: 15px;
    }
 }

 .nav-active{
     transform: translateX(0%);
 }

