header{
    background-color: greenyellow;
    height: 118px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: red;
    height: 40px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

main{
    background-color: white;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: blue;
    height: 100px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}